@import "tailwindcss";

@font-face {
  font-family: "sup";
  src: url("./assets/fonts/sup.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sup-bold";
  src: url("./assets/fonts/sup-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "sup", sans-serif;
}
